.header-top,
.header-bottom .btn {
  display: none;
}

.header-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 15px;
  z-index: 4;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .navbar {
    position: absolute;
    top: calc(100% + 5px);
    left: 25px;
    right: 25px;
    background-color: $white;
    padding-inline: 0;
    box-shadow: $shadow-1;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.25s $cubic-out;

    .navbar-list > li:not(:last-child) {
      border-block-end: 1px solid $gainsboro_50;
    }
    .navbar-link {
      color: $jet;
      text-transform: uppercase;
      font-weight: $fw-600;
      padding: 15px;
    }
  }

  .navbar.active {
    visibility: visible;
    max-height: 244px;
    transition-duration: 0.5s;
  }

  .nav-toggle-btn {
    color: $black;
    font-size: 30px;
    border: 1px solid $black;
    padding: 5px;

    .menu-icon {
      display: block;
    }
    .close-icon {
      display: none;
    }
  }

  .nav-toggle-btn.active {
    .menu-icon {
      display: none;
    }
    .close-icon {
      display: block;
    }
  }
}

.header-bottom.active {
  position: fixed;
  top: -81px;
  background-color: $white;
  box-shadow: $shadow-2;
  animation: slideIn 0.5s $cubic-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
